{% extends "base.html.twig" %}

{% block title %}
	ANNONCES
	{{categorie|upper}}
{% endblock %}

{% block body %}

	<style>
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			color: whitesmoke;
			background-color: #b26f66;
			text-decoration: none;
			font-weight: bold;
			text-align: center;
			border: 2px solid transparent;
			padding: 13px 30px;
			border-radius: 30px;
			transition: 0.4s;
		}
		button:hover {
			background-color: transparent;
			border: 2px solid #b26f66;
			cursor: pointer;
			color: #333;
		}
		.button-container {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.success-msg {
			color: #270;
			background-color: #dff0d8;
			border: 1px solid #d6e9c6;
			color: #3c763d;
			border-radius: 5px;
			padding: 10px;
			border-radius: 5px;
			width: 50%;
			margin-top: 20px;
		}
		.msg-container {
			display: flex;
			justify-content: center;
		}
	</style>
	{% if categorie != 'Autre' %}
		<h2 style="text-align:center; margin-top:1.5rem;">
			ANNONCES
			{{categorie|upper}}
		</h2>
	{% else %}
		<h2 style="text-align:center; margin-top:1.5rem;">
			ANNONCES
		</h2>
	{% endif %}
	<br>
	{% for message in app.flashes("success") %}
		<div class="msg-container">
			<div class="success-msg">
				<i class="fa fa-check"></i>
				{{ message }}
			</div>
		</div>
	{% endfor %}
	<br>
	<br>
	<section class="articles">
		{% for annonce in annonces %}
			<article>
				<div class="article-wrapper">
					<figure>
						<img src="{{ asset('/uploads/'~annonce.photo) }}" alt=""/>
					</figure>
					<div class="article-body">
						<h2>
							{{annonce.titre}}
						</h2>
						<h3>
							{{annonce.prix}}
							MAD
						</h3>
						<a href="{{path("annonces_show" , {id:annonce.id})}}" class="read-more">
							Plus de détails
							<span class="sr-only">
								about this is some title
							</span>
							<svg xmlns="http://www.w3.org/2000/svg" class="icon" viewbox="0 0 20 20" fill="currentColor">
								<path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"/>
							</svg>
						</a>
					</div>
				</div>
			</article>
		{% endfor %}
	</section>
	<br>
	<div class="button-container">
		{% if app.user %}
			{% if "ROLE_ADMIN" not in app.user.roles %}
				<a href="{{path("user_annonces_ajout",{categorie : categorie})}}">
					<button>
						Publier une annonce
					</button>
				</a>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}
